<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i>
          <span>GitHub</span>
          <span class="pull-right-container">
            <span class="label label-primary pull-right">3</span>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/user"><i class="fa fa-circle-o"></i> Pesquisar Usuário</a></li>
          <li><a href="/repos"><i class="fa fa-circle-o"></i> Voltar</a></li>
        </ul>
      </li>            
    </ul>
  </section>
</aside>
